.app {
  display: flex;
  width: 850px;
  justify-content: space-between;
  border: 5px solid black;
  padding: 20px;
  gap: 20px;
  border-radius: 5px;
}

.employee-list {
  border: 5px solid yellow;
  padding: 20px;
  border-radius: 5px;
}

.search {
  border: 5px solid green;
  padding: 20px;
  border-radius: 5px;
}

.header {
  border: 5px solid blue;
  padding: 20px;
  border-radius: 5px;
}

.employee-list {
  border: 5px solid purple;
  padding: 20px;
  border-radius: 5px;
}

.employee-list-item {
  border: 5px solid red;
  padding: 20px;
  border-radius: 5px;
  text-align: right;
}

.home-page {
  border: 5px solid gold;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
}

.employee-page {
  border: 5px solid maroon;
  width: 350px;
  padding: 20px;
  border-radius: 5px;
}

.bird {
  width: 60px;
  height:60px;
  border-radius: 50%;
  position: relative;
  top: 110px;
  left: 20px;
  
}

.name, .text {
  text-align: right;
  position: relative;
}

.card {
  border: 5px solid #d1d1d1;
  background-color: #d1d1d1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
}

li {
  list-style-type: none;
}

.employeeList {
  padding: 20px;
}

.search {
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 8px #ddd;
  display: flex;
  align-items: center;
  background-color: transparent;
  font-size: 1.25rem;
  width: 85%;
  margin: 5px;
}
input:focused {
  outline: none;
}
#search {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 50px;
  color: crimson;
}